.with-label::before {
  top: -48px;
  left: -133px;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.output {
  min-height: 100px;
}

.output::before  {
  content: "Output";
}

.execute::before {
  content: "Execute!"
}

.ractive-example {
  padding-top: 20px;
}

.panel-heading {
  height: 40px;
}

.panel-heading > .btn-run {
  position: relative;
  top: -7px;
}
